body {
    background-color: var(--background-clr);
}

@font-face {
    font-family: "Prologue";
    src: url(fonts/Prologue-Regular.ttf);
}

:root {
    --icon-height: clamp(21.25px, 3svh, 25px);
    --background-clr: #e2e8f0;
    --primary-clr: #1992d4;
    --secondary-clr: #f0b429;
    --card-clr: white;
    --large-font: clamp(14px, 1.5rem, 20px);
    --side-font-size: clamp(12px, 1.15rem, 18px);
    --med-font: clamp(10px, 1rem, 16px);
    --small-font: clamp(8px, 0.85rem, 14px);
    --tiny-font: clamp(6px, .7rem, 12px);
    --font: "Prologue", sans serif;
    --no-border: none;
    --icon-filter: invert(1);
}


.sidebar {
    background-color: var(--primary-clr);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: clamp(200px, 15vw, 230px);
    display: flex;
    flex-direction: column;
    z-index: 200;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 40px;
}

.dashboard-icon {
    filter: var(--icon-filter);
    height: clamp(45px, 6.5svh, 50px);
    margin-right: 10px;
}

.side-title {
    font-size: var(--large-font);
    font-family: var(--font);
    font-weight: 700;
    color: var(--card-clr);
}

.sidebar-tabs {
    display: grid;
    gap: 20px;
    margin-left: 24px;
}

.side-tab-name {
    position: relative;
    top: -37.5px;
    margin-left: 40px;
    font-size: var(--med-font);
    font-family: var(--font);
    font-weight: 700;
    color: var(--card-clr);
}

#communities {
    margin-bottom: 40px;
}

.side-tab-img {
    height: var(--icon-height);
    filter: var(--icon-filter);
}





























