body {
    background-color: var(--background-clr);
}

@font-face {
    font-family: "Prologue";
    src: url(fonts/Prologue-Regular.ttf);
}

:root {
    --icon-height: clamp(21.25px, 3svh, 25px);
    --background-clr: #e2e8f0;
    --primary-clr: #1992d4;
    --secondary-clr: #f0b429;
    --card-clr: white;
    --large-font: clamp(14px, 1.5rem, 20px);
    --side-font-size: clamp(12px, 1.15rem, 18px);
    --med-font: clamp(10px, 1rem, 16px);
    --small-font: clamp(8px, 0.85rem, 14px);
    --tiny-font: clamp(6px, .7rem, 12px);
    --font: "Prologue", sans serif;
    --no-border: none;
    --icon-filter: invert(1);
}


.sidebar {
    background-color: var(--primary-clr);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: clamp(200px, 15vw, 230px);
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 40px;
}

.dashboard-icon {
    filter: var(--icon-filter);
    height: clamp(45px, 6.5svh, 50px);
    margin-right: 10px;
}

.side-title {
    font-size: var(--large-font);
    font-family: var(--font);
    font-weight: 700;
    color: var(--card-clr);
}

.sidebar-tabs {
    display: grid;
    gap: 20px;
    margin-left: 24px;
}

.side-tab-name {
    position: relative;
    top: -37.5px;
    margin-left: 40px;
    font-size: var(--med-font);
    font-family: var(--font);
    font-weight: 700;
    color: var(--card-clr);
}

#communities {
    margin-bottom: 40px;
}

.side-tab-img {
    height: var(--icon-height);
    filter: var(--icon-filter);
}

.header {
    background-color: var(--card-clr);
    display: flex;
    flex-direction: column;
    height: clamp(125px, 25.5vh, 180px);
    box-shadow: 0px 6px 3px rgba(156, 154, 154, 0.438);
    padding-left: clamp(200px, 15vw, 800px);
}

.top-header {
    display: flex;
    height: clamp(31.25px, 7svh, 87.5px);
}

.top-left-header {
    display: flex;
    height: clamp(31.25px, 4svh, 67.5px);
    margin-top: 20px;
    margin-left: 40px;
}

.search-button {
    cursor: pointer;
    background-color: var(--card-clr);
    border: var(--no-border);
}

.search-icon {
    height: var(--icon-height);
}

.header-search {
    width: clamp(50px, 50vw, 750px);
    height: clamp(31.25px, 4vh, 67.5px);
    background-color: var(--background-clr);
    border: var(--no-border);
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 0;
}

.top-right-header {
    display: flex;
    height: clamp(31.25px, 4vh, 67.5px);
    width: clamp(60px, 25vw, 700px);
    margin-top: 20px;
    margin-left: 150px;
}

.noti-img {
    height: var(--icon-height);
    margin-right: 30px;
}

.top-header-img {
    height: clamp(31.25px, 6vh, 67.5px);
    border-radius: 50px;
    margin-top: -10px;
    margin-right: 25px;
}

.top-current-user {
    font-size: var(--med-font);
    font-family: var(--font);
    font-weight: 700;
}

.bottom-header {
    display: flex;
    height: clamp(100px, 7svh, 125px);

}

 .bottom-left-header {
    display: flex;
    height: clamp(60px, 5svh, 80px);
    margin-top: 20px;
    margin-left: 40px;
} 

.bottom-right-header {
    display: flex;
    height: clamp(60px, 5svh, 80px);
    width: clamp(90px, 25vw, 700px);
    margin-top: 20px;
    margin-left: 500px;
    justify-content: space-between;
    align-items: end;
} 

.bottom-header-img {
    height: clamp(50px, 8vh, 70px);
    border-radius: 50px;
    margin-right: 10px;
}

.header-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-greeting {
    font-size: var(--tiny-font);
    font-family: var(--font);
    font-weight: 600;
    margin-bottom: 10px;
}

.current-user {
    font-size: var(--large-font);
    font-family: var(--font);
    font-weight: 600;
}

.header-button {
    height: 40px;
    width: 100px;
    border-radius: 25px;
    padding: 10px 5px;
    border: var(--no-border);
    background-color: var(--primary-clr);
    font-size: var(--small-font);
    font-family: var(--font);
    font-weight: 600;
    color: var(--card-clr);
    cursor: pointer;
}

.cards-container {
    padding-left: 300px;
    padding-top: 65px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--card-clr);
    color: black;
    width: 325px;
    height: 200px;
    border: 2px solid black;
}

.card-title {
    font-size: var(--med-font);
    font-weight: 600;
    font-family: var(--font);
    margin-top: 25px;
    margin-left: 15px;
}

.card-desc {
    font-size: var(--small-font);
    font-weight: 500;
    font-family: var(--font);
    color: #636363;
    margin-top: 5px;
    margin-left: 15px;
    line-height: 17px;
}

.card-icons {
    display: flex;
    position: absolute;
    top: 155px;
    bottom: 25px;
    left: 185px;
    right: 15px;
    z-index: 100;
    gap: 25px;
}

.card-img {
    height: var(--icon-height);
}

.card#announcements {
    grid-row: 1 / 3;
}






























